* {
    font-family: '0xProto Nerd Font Propo';
}

window#waybar {
    background-color: transparent;
    font-size: 20px;
}

#pulseaudio,
#language,
#clock,
#network {
    border-radius: 16px;
    color: #ffffff;
    background-color: #212830;
    padding: 6px;
}

#workspaces {
    border-radius: 16px;
    background-color: #212830;
}

#workspaces button {
    color: #ffffff;
    border-radius: 16px;
}

#workspaces button.active {}

.modules-center {
    background-color: #212830;
    border-radius: 8px;
    color: #ffffff;
}

#window {
    padding: 6px;
}