* {
    font-family: '0xProto Nerd Font Propo';
}

window#waybar {
    background-color: transparent;
    font-size: 20px;
}

#pulseaudio,
#language,
#clock,
#window,
#network {
    border-radius: 16px;
    color: #ffffff;
    background-color: #212830;
    padding: 6px;
}

#workspaces {
    border-radius: 16px;
    background-color: #212830;
}

#workspaces button {
    color: #ffffff;
    border-radius: 16px;
}

#workspaces button.active {
    background-color: #085664;
}

window#waybar.empty #window {
    background-color: transparent;
}

#tray {
    border-radius: 16px;
    color: #ffffff;
    background-color: #212830;
    padding: 6px;
}